/*

    Fix formatting issue with media query

*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#main-doc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#navbar {
    border-right: 1px solid black;
    display: flex;
    height: 100vh;
    width: 20em;
    flex-direction: column;
    text-align: center;
    position: fixed;
    z-index: 100;
    background: white;
}

#navbar h2 {
    margin: 0;
    padding: 1em 0 1.5em;
}

#navbar h2,
.nav-link {
    border-bottom: 1px solid black;
}



.nav-link {
    padding-top: 1.2em;
    height: 3.5em;
}

.nav-link:hover {
    background: black;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

#content-sections {
    position: relative;
    top: 1.5em;
    left: 21em;
    z-index: 0;
}

.main-section {
    margin: 0;

    /* Test Properties */
    /* height: 200px; */
}

.main-section h2 {
    margin: 0;
}