/* GENERAL PAGE STYLES */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: auto;
    background: #FFFFE6;
}

#main-doc {
    margin: 0;
    position: relative;
}



/* NAVIGATION BAR */
#navbar header {
    padding-top: 1rem;
    background: #FFFFE6;
}

#navbar h1 {
    margin: 0;
    text-align: center;
}

#nav-links {
    border: 1.5px solid black;
    background: white;
    height: 10em;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 100;
    overflow: auto;
    margin: 1em auto;
}

.nav-link {
    padding: 1.2em 0;
    height: 3.5em;
    background: white;
    text-decoration: none;
    color: black;
}

.nav-link:not(.nav-link:last-of-type) {
    width: 100%;
    border-bottom: 1px solid black;
}

.nav-link:hover {
    background: black;
    color: white;
}



/* MAIN PAGE CONTENT */
#page-content {
    padding: 0 1%;
}



/* PAGE SECTIONS */
.main-section {
    padding: .25em .5em;
    margin: 1% 0;
    background-color: #CFCFBA;
    border: 1px solid black;
}

.main-section:first-of-type {
    margin: 0 0;
}

.main-section>header {
    margin-bottom: 1em;
}

.main-section h2 {
    margin: 0;
}

.section-content {
    padding: 0 1em;
}



/* PAGE SUBSECTIONS */
.subsection {
    background-color: #FFFFE6;
    padding: .25em .5em;
    margin: .25em 0;
    border: 1px solid black;
}

.subsection>header {
    margin-bottom: 1em;
}

.subsection h3 {
    margin: 0;
    white-space: break-spaces;
}

.subsection-content {
    padding: 0 1em;
}



/* MEDIA QUERY */
@media (min-width: 900px) {

    /* GENERAL PAGE STYLES */
    body {
        background: #66665C;
    }



    /* NAVIGATION BAR */
    #navbar {
        height: 100vh;
        width: 20rem;
        position: fixed;
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: 100;
        background: white;
        overflow: auto;
        margin: 0;
        border-right: 1px solid black;
    }

    #nav-links {
        height: 100%;
        width: 100%;
        background: #FFFFE6;
        overflow: auto;
        margin: 0;
        border: none;
    }

    #navbar h1 {
        margin: 0;
        padding: 1rem 0;
    }

    #navbar h1,
    .nav-link {
        width: 100%;
        border-bottom: 1px solid black;
    }



    /* MAIN PAGE CONTENT */
    #page-content {
        position: absolute;
        min-width: calc(100% - 20em);
        padding: 0 1em;
        top: 1rem;
        left: 20em;
        z-index: 0;
    }

    .main-section {
        padding: 1em 1.25em;
        max-width: 50em;
        margin: 1em 0;
    }
}